#cloud-config
groups:
    - salt


users:
    - name: salt
      primary_group: salt
      shell: /usr/sbin/nologin
      homedir: /opt/saltstack/salt


write_files:
    - path: /etc/salt/minion.d/saltshaker.conf
      content: |
          master: ${saltmaster_ip}
    - path: /tmp/get_ipv6.sh
      permissions: '0750'
      content: |
          #!/bin/bash
          curl -s http://169.254.169.254/hetzner/v1/metadata | yq -r '.["network-config"].config[0].subnets[] | select(.ipv6==true).address | rtrimstr("1/64")'
%{ if additional_ipv4 != false || additional_ipv6 != false ~}
    - path: /etc/network/interfaces.d/61-secondary-ips
      permissions: '0644'
      content: |
          auto eth0:1
          %{ if additional_ipv4 != false }
          iface eth0:1 inet static
              address ${additional_ipv4}/32
          %{ endif ~}

          %{ if additional_ipv6 != false ~}
              %{ for i in range(1, desired_count_of_additional_ipv6_ips) ~}
          iface eth0:1 inet6 static
              address ${additional_ipv6}${i}/128
              %{ endfor ~}
          %{ endif ~}
%{ endif ~}


runcmd:
    - mkdir -p /etc/salt/env.d
    - apt update
    - apt -y install --no-install-recommends gnupg yq
    - /tmp/get_ipv6.sh > /etc/salt/env.d/ipv6_subnet_1
    - echo "${additional_ipv6}" > /etc/salt/env.d/ipv6_subnet_2
    - echo "Configuring additional IPv6 addresses..."
%{ if desired_count_of_ipv6_ips > 1 ~}
    %{ for i in range(2, desired_count_of_ipv6_ips + 1) }
    - echo "iface eth0 inet6 static" >> /etc/network/interfaces.d/60-additional-ips
    - echo "    address $(/tmp/get_ipv6.sh)${i}/128" >> /etc/network/interfaces.d/60-additional-ips
    - echo "" >> /etc/network/interfaces.d/60-additional-ips
    %{ endfor }
    - ifdown eth0
    - ifup eth0
%{ endif ~}
%{ if additional_ipv4 != false || additional_ipv6 != false ~}
    - ifup eth0:1
%{ endif ~}
%{ if ipv6_only ~}
    - echo true > /etc/salt/env.d/ipv6_only
    - ip route del default || /usr/bin/true
    - ip route add default via 10.0.0.1
    - echo "nameserver 8.8.8.8" >> /etc/resolv.conf
    - echo "Waiting for NAT to come up..."
    - /usr/bin/bash -c 'until dig +tries=1 +retry=0 debian.org > /dev/null; do sleep 1; echo -n "."; done; echo "";'
%{ endif ~}
    - mkdir -p /etc/apt/keyrings
    - wget -O /etc/apt/keyrings/salt-archive-keyring.gpg.tmp https://packages.broadcom.com/artifactory/api/security/keypair/SaltProjectKey/public
    - gpg --dearmor -o /etc/apt/keyrings/salt-archive-keyring.gpg /etc/apt/keyrings/salt-archive-keyring.gpg.tmp
    - rm /etc/apt/keyrings/salt-archive-keyring.gpg.tmp
    - /usr/bin/bash -c 'echo deb [signed-by=/etc/apt/keyrings/salt-archive-keyring.gpg arch=amd64] https://packages.broadcom.com/artifactory/saltproject-deb/ stable main > /etc/apt/sources.list.d/salt.list'
    - apt update
    - mkdir -p /etc/salt/roles.d
    ${indent(4, yamlencode([for r in roles: "touch /etc/salt/roles.d/${r}"]))}
    - echo ${server_type} > /etc/salt/env.d/server_type
    - echo ${backup_server} > /etc/salt/env.d/backup_server
    - echo ${backup_username} > /etc/salt/env.d/backup_username
    - echo ${backup_homedir} > /etc/salt/env.d/backup_homedir
    - touch /etc/salt/env.d/backup_password
    - chmod 600 /etc/salt/env.d/backup_password
    - echo ${backup_password} > /etc/salt/env.d/backup_password
    - apt install -y --no-install-recommends git salt-minion
    - chown -R salt:salt /etc/salt
    - salt-pip install docker
    - systemctl restart salt-minion
%{ if length(volumes) > 0 ~}
    - udevadm trigger -c add -s block -p ID_VENDOR=HC --verbose -p ID_MODEL=Volume
    %{ for v_name, v_conf in volumes ~}
    - echo "Waiting for attached volume ${v_name}:${v_conf.id} to be available..."
    - /usr/bin/bash -c 'until [ -e /dev/disk/by-id/scsi-0HC_Volume_${v_conf.id} ]; do sleep 1; echo -n "."; done; echo "";'
    - echo "Attached volume ${v_name}:${v_conf.id} is now available."
    - mkdir -p ${v_conf.mountpoint}
        %{ if v_conf.encrypted ~}
    - echo "Setting up LUKS encryption on volume ${v_name}:${v_conf.id}..."
    - head -c 32 /dev/urandom | base64 -w0 | tee /root/${v_name}_crypt.key.txt | cryptsetup luksFormat -d - /dev/disk/by-id/scsi-0HC_Volume_${v_conf.id}
    - cat /root/${v_name}_crypt.key.txt | cryptsetup luksOpen -d - /dev/disk/by-id/scsi-0HC_Volume_${v_conf.id} ${v_name}_crypt
    - vgcreate ${v_name}_vg /dev/mapper/${v_name}_crypt
    - lvcreate -l 100%FREE -n ${v_name} ${v_name}_vg
    - mkfs.ext4 /dev/${v_name}_vg/${v_name}
    - echo "/dev/${v_name}_vg/${v_name} ${v_conf.mountpoint} ext4 discard,nofail,defaults 0 0" >> /etc/fstab
    - echo "${v_name}_crypt UUID=$(blkid -s UUID -o value /dev/disk/by-id/scsi-0HC_Volume_${v_conf.id}) ${v_name}_crypt luks,discard" >> /etc/crypttab
        %{ else ~}
    - echo "/dev/disk/by-id/scsi-0HC_Volume_${v_conf.id} ${v_conf.mountpoint} ext4 discard,nofail,defaults 0 0" >> /etc/fstab
        %{ endif ~}
    %{ endfor ~}
    - systemctl daemon-reload
    - mount -a
%{ endif ~}


final_message: |
    Next steps:
        Add the minion key on saltmaster. Execute highstate:
            salt-key -y -a ${hostname}
            salt '${hostname}' state.highstate
