[Unit]
Description=Concourse CI
Wants=basic.target
After=basic.target network.target

[Service]
User={{user}}
Group={{group}}
{% for envvars in environment_files %}
EnvironmentFile={{envvars}}
{% endfor %}
ExecStart=/usr/local/concourse/bin/concourse {{type}} {{arguments}}
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/concourse-{{type}}.pid
KillMode=process
Restart=on-failure
StartLimitInterval=3
RestartSec=30s

[Install]
WantedBy=multi-user.target
