[Unit]
Description=goldfish
Requires=network-online.target
After=network-online.target

[Service]
User={{user}}
Group={{group}}
ExecStart=/usr/local/bin/goldfish-linux-amd64 -config=/etc/goldfish/goldfish.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
