# backup folders linked in /etc/duplicity.d/(hourly|daily)/folders

MAILTO={{mailto}}
MAILFROM={{mailfrom}}

{% if duplicity_enabled %}
{{hourly_backup_schedule}}    root    /etc/duplicity.d/backup.sh hourly
{{daily_backup_schedule}}    root    /etc/duplicity.d/backup.sh daily
{% endif %}
{% if cleanup_enabled -%}
{{cleanup_schedule}}    root    /etc/duplicity.d/cleanup.sh run
{% endif %}

