[Install]
WantedBy=pdns-recursor.service


[Unit]
Description=Consul Agent
Wants=basic.target
After=basic.target network.target
Before=pdns-recursor.service consul-template.service salt-master.service salt-minion.service


[Service]
User={{user}}
Group={{group}}
Environment=GOMAXPROCS=2
ExecStart=/usr/local/bin/consul agent -node "{{node_name}}" \
    {% if node_id is defined %}-node-id "{{node_id}}"{% endif %} -config-file=/etc/consul/common-config.json \
    -config-dir=/etc/consul/services.d -config-dir=/etc/consul/conf.d -data-dir=/var/lib/consul \
    -pid-file=/run/consul/consul.pid {% if extra_parameters is defined %}{{extra_parameters}}{% endif %}
    {%- for server, addr in salt['mine.get']('roles:consulserver', 'internal_ip', tgt_type='grain').items() -%}
        {%- if loop.first -%}
            {{" "}}\{{"\n"}}
        {%- endif -%}
        {{"    "}}-retry-join={{addr}}{{" "}}
    {%- endfor %}
ExecReload=/bin/kill -HUP $MAINPID
{% if single_node_cluster is defined and single_node_cluster %}
EnvironmentFile=-/etc/consul/operator_token_envvar
ExecStartPost=-/usr/local/bin/consul snapshot restore /etc/consul/singlenode-backup.snap
ExecStartPost=-/bin/rm /etc/consul/singlenode-backup.snap
{% endif %}
KillMode=process
Restart=on-failure
PIDFile=/run/consul/consul.pid
# StartLimitInterval: try to restart for unlimited times, because this is an essential service!
StartLimitInterval=0
RestartSec=42s

[Install]
WantedBy=multi-user.target
