[Unit]
Description=Check Consul cluster for enough servers and modify consul-server service if necessary
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/check_consul.sh
