[Unit]
Description=Check Consul cluster for enough servers and modify consul-server service if necessary
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/etc/consul/consul-cluster-bootstrap-helper.sh

[Service]
Type=simple
ExecStart=/etc/consul/consul-cluster-bootstrap-helper.sh
