[Unit]
Description=Consul Template
Wants=basic.target consul-server.service consul.service
After=basic.target network.target

[Service]
User=root
Group=root
Environment=GOMAXPROCS=2
ExecStart=/usr/local/bin/consul-template -config /etc/consul/consul-template.conf \
    -config /etc/consul/consul-template-acl.conf -config /etc/consul/template.d
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/consul/consul-template.pid
KillMode=process
Restart=on-failure
# StartLimitInterval: try to restart for unlimited times, because this is an essential service!
StartLimitInterval=0
RestartSec=30s

[Install]
WantedBy=multi-user.target
